.conda_env/
1_transport/intermediates/
2_matching/intermediates/
2_matching/figures/
3_sif/intermediates/
3_sif/figures/
4_inversion/intermediates/
4_inversion/figures/
5_results/intermediates/
5_results/figures/
5_results/products/
.Rhistory
docs
documentation
utils

# See README for details on how to obtain required data
data/downloaded_20211217
data/FLUXCOM_XBase
data/fossil-mipv10
data/GEOS_Chem
data/GFED4.1s_Aleya_hemco_080321
data/lauder_co2_2014_2021.50_ooofti_lhr.csv
data/obspack_co2_1_OCO2MIP_v3.2_2021-05-20
data/OCO2_b10c_10sec_GOOD_r5.nc4
data/OCO2_L2_Lite_SIF_10r
data/samples-LNLGIS.rds
data/sib4-hourly
data/spco2_MPI-SOM_FFN_v2020.nc
